---
---

@import "{{ site.theme }}";
@import "zenburn.css";

.highlight .kt {
  color: #a8baf3;
}

td.rouge-code pre {
  border: 0px;
}

pre.lineno {
  border: 0px;
}

.highlighter-rouge .highlight {
  background: #3f3f3f; 
}

.post-content, .post-title, .post-meta, .post-link {
  /*font-family: "Roboto Slab";*/
}

code {
  white-space:pre;
  word-break:break-all;
  word-wrap:break-word;
}

.post-content p, li {
  font-size: 15pt;
  line-height: 2rem; 
}
